#python stuff
__pycache__

#bnc (copyright issues)
/corpora/bnc*.txt
/corpora/bnc/*.tar.gz
/backup/corpora/bnc.txt

#dumps
/corpora/*.txt
/vectorize/gen
/vectorize/inf
/vectorize/logs
/classify/*/*.txt
/classify/*/*.png

#testing stuff
/sandbox
